<div class="row">
  <div class="col-sm-12">
    <p class="lead">Dashboard</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <a class="btn btn-primary">
      Create Presentation
    </a>
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>
