<!DOCTYPE html>
<html>
  <head>
    <title>Presentation {{presentationId}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/viewer.css">
  </head>
  <body>
    <script>
      window.presentationId = {{{presentationId}}};
      window.presentationData = {{{json presentationData}}};
    </script>
    <script src="/scripts/viewer.js"></script>
  </body>
</html>
