@import 'libs.less';

@muted: #B0B0B0;
@enabled: #59B54E;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
}

h2 {
  font-size: 1.5em;
}

.inline {
  display: inline;
}

.viewers-list {
  margin-top: 0.8em;

  .no-viewers {
    color: @muted;
  }
}

.enabled {
  color: @enabled;
}
