<div class="row">
  <div class="col-xs-12">
    <ul class="list-unstyled">
      {{#each model}}
        <li>{{#link-to 'session' id}}{{name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
</div>
