<div class="container-fluid">
  <div class="row heading">
    <div class="col-xs-10">
      <h1 class="lead title">
        {{#link-to 'index'}}Selah{{/link-to}}
      </h1>
    </div>

    <div class="col-xs-2">
      <div class="right-bar">
        {{#if authService.user}}
          <img {{bind-attr src=authService.user.gravatarUrl}} width="30" class="img-circle"> {{authService.user.name}}
        {{else}}
          {{#link-to 'login' class='btn btn-link'}}Login{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>

  {{outlet}}
</div>
